<!DOCTYPE html>
<html>
  <head>
    <title>Creating your own streams</title>
  </head>
  <body>
    <h1>Setting up a client</h1>
    <p>Please note: this client/capture combination only works with OS X, but
anyone can play along with <a href="http://curl.haxx.se">curl</a>.  See
instructions further down the page.</p>
    <h2>Download the following files:</h2>
    <ul>
      <li><a href="client.sh">client.sh</a></li>
      <li><a href="wacaw">wacaw</a></li>
    </ul>
    <h2>Start broadcasting!</h2>
    <ul>
      <li>Open a Terminal window (Applications -> Utilities -> Terminal)</li>
      <li>Change to the directory where you downloaded the files: <pre>cd /Users/timothy/Downloads</pre></li>
      <li>Make the files executable: <pre>chmod u+x client.sh wacaw</pre></li>
      <li>Run the client: <pre>./client.sh</pre>
    </ul>
    <h1>Using <code>curl</code> as a client</h1>
    <p>If you can save webcam images at a regular interval, you can set up your
own stream.  It's easy:</p>
    <pre>curl -T name_of_file.jpeg http://www.pauljohninternetart.info/update/foo</pre>
    <p>This would update a stream that can be watched at <a
href="/watch/foo">http://www.pauljohninternetart.info/watch/foo</a></p>
  </body>
</html>

