%html
  %head
    %title sseldne
  %body
    %center
      %img{:src => "/endless/EndlessLogo.jpg"}
      %br
      %img{:src => "/endless/Artists.jpg"}
      %br
      %img{:src => "/endless/AudreyDrawing.jpg"}
      %br
      %img{:src => "/endless/Chashama_FLYER.jpg"}
      %br
      %img{:src => "/endless/Kewin_Joe-1.jpg", :title => "Joe Kewin"}
      %br
      %img{:src => "/endless/Tino_Anthony-1.jpg", :title => "Anthony Tino"}
      %br
      %a{:href => "http://endlessendlessendlessendless.blogspot.com"} http://endlessendlessendlessendless.blogspot.com
