<!DOCTYPE html>
<html>
  <head>
    <title>pauljohninternetart.info</title>
    <link rel="stylesheet" type="text/css" href="/all.css">
    <script src="/src/jquery-1.7.2.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>PAUL JOHN INTERNET ART</h1>
    <h2>DOT INFO</h2>
    <center><%= "<img src=\"/window/#{@available_streams.shuffle.first}\">" %></center>
    <p>The following streams are available for your enjoyment:</p>
    <ul>
    <% @available_streams.each do |stream| %>
      <li><%= "<a href=\"/watch/#{stream}\">#{stream}</a>" %></li> 
    <% end %>
    </ul>
  </body>
</html>

