!!! 5
%html
  %head
    %title Paul John
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/all.css"}
    %link{:rel => "stylesheet", :media => "screen", :href => "http://openfontlibrary.org/face/news-cycle"}

  %body
    .container
      .row
        .span12
          %h1 PAUL JOHN INTERNET ART
          %h2 streams v.3
      .row
        %img#stream

    %script{:src => "/js/jquery-1.8.3.min.js"}
    :javascript
      $(document).ready(function(){
        var current_stream;

        $('.container').click(function(){
          window.location = "/watch/"+current_stream;
        });

        setInterval(function(){
          $('.container').height($(window).height());

          //tempo of the site
          $.get('/random', function(response){
            $('#stream').attr('src', response.src);
            current_stream = response.src.split(/[/.]/)[2]
          });
        }, 1000);
      });

    %script{:src => "/js/bootstrap.min.js"}
