%html
  %head
    %title= @name
    %script{:src => "/src/jquery-1.7.2.js", :type => "text/javascript"}
    :javascript
      var i = 0;

      function start(){
        setInterval( "refreshStream()", 2000 );
      }

      function refreshStream(){
        $('#stream').attr("src", "/streams/<%= @name %>.jpeg?"+i);
        $('#stream').css("top", "50%"); 
        $('#stream').css("left", "50%"); 
        $('#stream').css("width", $('#stream').width());
        $('#stream').css("height", $('#stream').height());
        $('#stream').css("margin-top", $('#stream').height() / -2);
        $('#stream').css("margin-left", $('#stream').width() / -2);
        i++;
      }

      $(document).ready(function(){
        $('#imgContainer').height($(window).height());
        start();
      });
    :css
      html {
        background: rgb(30, 30, 30);
      }
      img {
        position: absolute;
      }
    %img{:id => "stream", :src => "/streams/#{@stream}"}
