!!! 5
%html
  %head
    %title= @id
    :css
      html { background: rgb(30, 30, 30); }
      body { height: 100px; line-height: 100px; text-align: center; }
      img { vertical-align: middle; }

  %body
    %img#stream

    %script{:src => "/js/jquery-1.8.3.min.js"}
    :javascript
      $(document).ready(function(){
        var version = 0;

        setInterval(function () {
          // check to see if stream has been updated, compared to
          // current version

          $.post('/stream_has_been_updated', { version: version },
            function(response){
              // expand stream to fill window
              $('#stream').height($(window).height());

              if (response.answer == 'yes') {
                $('#stream').attr('src', response.src);
                version = response.version;
              }

            });
        }, 1000);
        
      });
