!!! 5
%html
  %head
    %title= @id
    :css
      html {
        background: rgb(30, 30, 30);
      }
      img {
        position: absolute;
      }
  %body
    %div#stream

    %script{:src => "/js/jquery-1.8.3.min.js"}
    :javascript
      $(document).ready(function(){
        var version = 0;
        $('#stream').height($(window).height());

        setInterval(function () {
          // check to see if stream has been updated, compared to
          // current version

          $.post('/stream_has_been_updated', { version: version },
            function(response){
              if (response.answer == 'yes') {

                $('#stream').css('background',
                   'url('+response.src+') center center no-repeat');

                version = response.version;
              }

            });
        }, 1000);
        
      });
